<div class="col-md-12 crosstable" ng-controller="OperationPivotCtrl">
    <table>
        <thead>
            <tr>
                <th>
                    <div>政治面貌</div>
                    <div>院系</div>
                </th>
                <th>艺术学院</th>
                <th>体育学院</th>
                <th>化工学院</th>
                <th>工学院</th>
                <th>理学院</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>中共党员</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
            </tr>
            <tr>
                <td>中共预备党员</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
            </tr>
            <tr>
                <td>团员</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
            </tr>
            <tr>
                <td>群众</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
                <td>25</td>
            </tr>
        </tbody>
    </table>

</div>