<div class="col-md-12 crosstable" ng-controller="OperationPivotCtrl">
    <table>
        <thead>
            <tr ng-repeat="headerRow in tableHeaderRows">
                <th ng-repeat="item in headerRow" rowspan="{{item.rowspan}}" colspan="{{item.colspan}}" name="{{item.name}}">{{item.label}}</th>
            </tr>
        </thead>

        <tbody>
             <tr ng-repeat="dataRow in tableDataRows">
                <th ng-repeat="item in dataRow track by $index">{{item}}</th>
            </tr>
        </tbody>
    </table>

</div>