<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>{{content}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <div class="list-group-item container-fluid">
        <button class="wizard-button btn btn-default btn-block" href="" ng-click="openModal()">新增</button>
      </div>
      <a class="list-group-item" ng-class="{true:'choose'}[selectedItem.id === item.id]" href="" ng-click="selected(item)" ng-repeat="item in themes">
        {{item.label}}
        <button type="button" class="btn btn-default btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-minus"></i></button>
      </a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row" ng-if="selectedItem !== null">
      <div ng-repeat="chart in selectedItem.chartConfigDTOList" class="col-md-{{12/selectedItem.countOfColumns}}">
        <div class="panel panel-default">
          <div class="panel-heading">{{chart.label}}</div>
          <div class="panel-body">
            <div ng-if="chart.chartType === 'TABLE'">
              {{chart}}
            </div>edccx                                                                                                                                                                                                                                                                                                              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<table ng-table="questionTable" class="table table-condensed table-bordered table-striped">-->
  <!--<tr ng-repeat="row in $data">-->
    <!--<td data-title="'Name'">{{row.name}}</td>-->
    <!--<td data-title="'Value'">{{row.value}}</td>-->
  <!--</tr>-->
<!--</table>-->
