<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>{{content}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <div class="list-group-item container-fluid">
        <button class="wizard-button btn btn-default btn-block" href="" ng-click="openModal()">新增</button>
      </div>
      <div class="list-group-item">
        <a class="" href="">操作主题一</a>
        <button type="button" class="btn btn-default btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-minus"></i></button>
      </div>
      <div class="list-group-item">
        <a class="" href="">操作主题二</a>
        <button type="button" class="btn btn-default btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-minus"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2">
        <ul class="list-group">
          <li class="list-group-item">数据列</li>
          <a class="list-group-item">年份</a>
          <a class="list-group-item">地域</a>
          <a class="list-group-item">销售额</a>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <label>横轴</label>
                <tokenfield ng-model="fields" required="true"></tokenfield>
              </div>
              <div class="form-group">
                <label>纵轴</label>
                <tokenfield ng-model="fields" required="true"></tokenfield>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">统计值</div>
            <div class="panel-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>销售额</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm btn-success pull-right"><i class="glyphicon glyphicon-plus"></i></button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm btn-danger pull-right"><i class="glyphicon glyphicon-minus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">过滤条件</div>
            <div class="panel-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>销售额</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-sm btn-success pull-right"><i class="glyphicon glyphicon-plus"></i></button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="glyphicon glyphicon-minus"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <button type="button" class="btn btn-success pull-right">确定</button>
                <div class="pull-right">&nbsp;</div>
                <button type="button" class="btn btn-default pull-right">添加到图标库</button>
              </div>
              <p>透视图</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
