<div class="row">
  <ng-include src="'views/operation/sidebar.html'"></ng-include>
  <div class="col-md-10">
    <div class="row" ng-if="selectedItem !== null">
      <ng-include src="'views/operation/fields.html'"></ng-include>
      <div class="col-md-10">
        <div class="container-fluid">
          <ng-include src="'views/operation/rules.html'"></ng-include>
          <div class="panel panel-default">
            <div class="panel-heading">透视图</div>
                          <div class="form-group">
                <button type="button" class="btn btn-success pull-right">导出</button>
                <div class="pull-right">&nbsp;</div>
                <button type="button" class="btn btn-default pull-right">创建图表</button>
              </div>
            <div class="panel-body">
              <div>
                <ng-include src="'views/operation/pivottable.html'"></ng-include>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
