<div class="row">
  <!--<div class="col-md-2">
    <div class="list-group">
      <div class="list-group-item container-fluid">
        <button class="wizard-button btn btn-default btn-block" href="" ng-click="openModal()">新增</button>
      </div>
      <a class="list-group-item" ng-class="{true:'choose'}[selectedItem.id === item.id]" href="" ng-click="selected(item)" ng-repeat="item in themes">
        {{item.label}}
        <button type="button" class="btn btn-default btn-xs btn-danger pull-right" ng-click="delete(item)"><i class="glyphicon glyphicon-minus"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button type="button" class="btn btn-default btn-xs btn-warning pull-right" ng-click="edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
      </a>
    </div>
  </div>-->
  <div class="col-md-12">
    <div class="well well-sm text-center text-primary" style="font-size: 24px;">
      <span class="glyphicon glyphicon-signal"></span> 商圈销售状况
    </div>
    <div class="container-fluid">
      <div class="form-group collapse well well-sm text-primary" id="querypanel">
        <div>
          <label>时间区间: 从
        <input type="date" name="input" ng-model="startDate" placeholder="yyyy-MM-dd" required
        /> 到 <input type="date" name="input" ng-model="endDate" placeholder="yyyy-MM-dd"
          required /></label>
        </div>
        <div>
          <label>订单状态:
            <select ng-model="selectedStatus" ng-options="status.name for status in orderStatus">
              <option value="">--全部 --</option>
            </select>
          </label>
        </div>
        <div>
          <label>订单金额: 从<input type="number" name="input" ng-model="startAmount"
           min="0">到<input type="number" name="input" ng-model="endAmount"
           min="0">
          </label>
        </div>
        <div>
          <label>订单配送:
            <select ng-model="selectedDiliver" ng-options="item.name for item in dilivers">
              <option value="">--全部 --</option>
            </select>
          </label>
        </div>
        <div>
          <label>订单供应:
            <select ng-model="selectedSupplierId" ng-options="item.name for item in supplierIds">
              <option value="">--全部 --</option>
            </select>
          </label>
        </div>
        <div>
          <label>客户性别:
            <select ng-model="selectedGender" ng-options="item.name for item in genders">
              <option value="">--全部 --</option>
            </select>
          </label>
        </div>
        <button type="button" class="btn btn-success" ng-click="show()">查询</button>
      </div>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#querypanel">查询条件</button>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dashboardpanel">查看统计</button>
    </div>
    <div class="row">
      <div id="dashboardpanel" class="col-md-12 collapse">
        <div ng-repeat="chart in charts" class="col-md-4">
          <bar-chart config="chart.config" data="chart.data" height="400"></bar-chart>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <label>请选择需要分析的商圈:</label>
      <table ng-table="queryDataTableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
          <td data-title="''" style="width: 35px">
            <input type="checkbox" ng-checked="row.isRowSelected" ng-click="toggleSelection(row)" /> </td>
          <td data-title="'商圈'" filter="{businessLocation: 'text'}" sortable="'businessLocation'">{{row.businessLocation}}</td>
          <td data-title="'金额'" filter="{total: 'number'}" sortable="'total'">{{row.total}}</td>
          <td data-title="'订单量'" filter="{count: 'number'}" sortable="'count'">{{row.count}}</td>
          <td data-title="'每单平均金额'" filter="{mean: 'number'}" sortable="'mean'">{{row.mean}}</td>
        </tr>
      </table>
    </div>

    <div class="well well-sm text-center text-success" style="font-size: 24px;">
      <span class="glyphicon glyphicon-hand-right"></span> 价值客户推荐
      <div class="container-fluid">
        <div class="form-group">
          <label>{{conditionsStr}}</label>
          <button type="button" class="btn btn-success" ng-click="buildRFMModel()">执行</button>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
    <label>请选择商圈:
    <select ng-model="selectedLocation" ng-change="selectLocation()"
      ng-options="location.name for location in locations"></select>
  </label>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <h3>客户人数统计</h3>
        <pie-chart config="locationPie.config" data="locationPie.data" height="400"></pie-chart>
      </div>
      <div class="col-md-4 text-center">
        <h3>订单金额统计</h3>
        <pie-chart config="locationPie1.config" data="locationPie1.data" height="400"></pie-chart>
      </div>
      <div class="col-md-4 text-center">
        <h3>订单量统计</h3>
        <pie-chart config="locationPie2.config" data="locationPie2.data" height="400"></pie-chart>
      </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#locationInfoTable">表格</button>
    <div id="locationInfoTable" class="row collapse">
      <div class="col-md-12">
        <table ng-table="locationTable.params" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="row in $data">
            <td data-title="'类型'">{{row.type}}</td>
            <td data-title="'人数'">{{row.number}}</td>
            <td data-title="'金额'">{{row.total}}</td>
            <td data-title="'订单量'">{{row.count}}</td>
            <td data-title="'人均消费金额'">{{row.mean1}}</td>
            <td data-title="'每单平均金额'">{{row.mean2}}</td>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#locationInfo">详细</button>
    <br>
    <div id="locationInfo" class="collapse">
      <div class="row">
        <div ng-repeat="table in tables" class="col-md-4">
          <h5><span class="label label-primary">客户分类：</span> {{table.type.category}}<span ng-repeat="star in table.type.stars track by $index"><span class="glyphicon glyphicon-star" style="color: rgb(212, 106, 64);"></span>
            </span>
          </h5>
          <h5><span class="label label-primary">客户特征：</span> {{table.type.characters}}</h5>
          <h5><span class="label label-primary">客户人数：</span> {{table.totalCount}} / {{table.allCount}}</h5>
          <div class="row container-fluid">
            <button type="button" class="btn btn-success" ng-click="export(table.id)">导出</button>
            <button type="button" class="btn btn-success" ng-click="export(table.id)">邮件</button>
          </div>
          <br>
          <div style="overflow:scroll; height:400px;">
            <table ng-table="table.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped">
              <thead>
                <tr>
                  <th ng-repeat="column in table.columns" class="text-center">
                    {{column.title}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in $data">
                  <td ng-repeat="column in table.columns">
                    {{user[column.field]}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="well well-sm text-center text-warning" style="font-size: 24px;">
      <span class="glyphicon glyphicon-user"></span> 用户投放设置
    </div>
    <label for="">当前商圈：{{selectedLocation.name}}</label>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div ng-repeat="type in types track by $index" class="row">
          <label for="">{{type.category}}:</label>
          <label>前<input type="number" name="input" min="0" max="1000" required ng-model="location[type.category].topNum">名用户</label>
          <label>每人投放金额：<input type="number" name="input" min="0" max="1000" required ng-model="location[type.category].coupon"></label>
          <div class="btn-group">
            <label class="btn btn-default" ng-model="location[type.category].caseType" uib-btn-radio="'2'">全部行</label>
            <label class="btn btn-default" ng-model="location[type.category].caseType" uib-btn-radio="'1'">偶数行</label>
            <label class="btn btn-default" ng-model="location[type.category].caseType" uib-btn-radio="'0'">奇数行</label>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="setCoupon()">执行</button>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
         <table ng-table="couponsTableParams" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="row in $data">
            <td data-title="'商圈'">{{row.businessLocation}}</td>
            <td data-title="'用户id'">{{row.userid}}</td>
            <td data-title="'电话号码'">{{row.phone}}</td>
            <td data-title="'优惠券金额(元)'">{{row.coupon}}</td>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="exportCoupons()">导出</button>
    <br>
    <br>
    <div class="well well-sm text-center text-info" style="font-size: 24px;">
      <div class="container-fluid">
        <div class="form-group">
          <label>请选择需要验证的时间区间:</label> 从
          <input type="date" name="input" ng-model="startCompareDate" placeholder="yyyy-MM-dd" required
          /> 到 <input type="date" name="input" ng-model="endCompareDate" placeholder="yyyy-MM-dd" required />
          <button type="button" class="btn btn-success" ng-click="getCompareResult()">执行</button>
        </div>
      </div>
      <span class="glyphicon glyphicon-eye-open"></span> 复购效果查看
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4><span class="label label-primary">总复购率：</span> {{repay['复购率']}}% </h4>
        <h4><span class="label label-primary">订单金额：</span> {{repay['金额']}} </h4>
        <h4><span class="label label-primary">总订单量：</span> {{repay['订单量']}} </h4>
        <h4><span class="label label-primary">投放金额：</span> {{repay['投入资金']}} </h4>
        <h4><span class="label label-primary">产生利润：</span> {{repay['利润']}} </h4>
      </div>
      <div class="col-md-6">
        <bar-chart config="resultChartConfig0" data="resultChartData0" height="400"></bar-chart>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <h3> A组：投放营销策略</h3>
      </div>
      <div class="col-md-6">
        <h3> B组：未投放营销策略</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <bar-chart config="resultChartConfig1" data="resultChartData1" height="400"></bar-chart>
      </div>
      <div class="col-md-6">
        <bar-chart config="resultChartConfig2" data="resultChartData2" height="400"></bar-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <bar-chart config="resultChartConfig3" data="resultChartData3" height="400"></bar-chart>
      </div>
      <div class="col-md-6">
        <bar-chart config="resultChartConfig4" data="resultChartData4" height="400"></bar-chart>
      </div>
    </div>

    <div class="well well-sm text-center text-danger" style="font-size: 24px;">
      <span class="glyphicon glyphicon-export"></span> 报告查看
    </div>
    <button type="button" class="btn btn-success" ng-click="exportReport()">导出</button>
  </div>

</div>